.discussion-container{
    display: flex;
    flex-direction: column;
    
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #e0e0e0;
}
.discussion-container h1
{
    font-size: 2rem;
    margin: 10px;
    background-color: #333;
}
.discussion-container input[type="text"]{
    font-size: 1.5rem;
    width: 30%;
    background-color: #2b2b2b;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px;
}
.discussion-container textarea{
    font-size: 1.5rem;
    margin:10px;
    width: 95%;
    height: 750px;
    background-color: #2b2b2b;
    color: #f1f1f1;
    padding: 10px;
}
.discussion-container button{
    display: block;
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.discussion-header {
    justify-content: left;
    align-self: left;
    font-size: 2rem;
    margin: 10px;
    background-color: #333;
}
.discussion-header h1{
    background-color: #333;
    align-self: left;
}
.discussion-content{
    display: flex;
    background-color: #333 !important;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    color: #e0e0e0;
    font-size: 1.5rem;
}
#output, #output p
{
    background-color: #333 !important;
    color: #e0e0e0;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
}
#output pre, #output code {
    background-color: #333 !important;
    color: #f1f1f1 !important;
}
.discussion-footer p{
    background-color: #333;
}
.discussion-footer button{
    display: block;
    margin: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.discussion-content a{
    color: #007bff;
}
.discussion-content a:hover{
    color: #0056b3;
}

.discussion-content img{
    max-width: 100%;
    height: auto;
    margin: 10px;
}
hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}


.discussion-footer{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
.discussion-footer button{
    margin-right: 10px;
}