.footer {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #E0E0E0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 1.2em;
}
hr{
    width: 100%;
    margin: 0;
}
.socials{
    margin-left: auto;
    margin-right: auto;
}