.intro{
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #e0e0e0;    
}
.intro h1{
    font-size: 2.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #333;
  }
  .intro p{
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #333;
  }
.table{
    display: table;
    max-width: 750px;
    margin: 5px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #e0e0e0;
    flex-direction: column;
  }
.table th{
    font-size: 1.5rem;
    width: 100%;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.table tr{
    display: table-row;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
}
  .table tr:first-child{
    background-color: #444;
  }
  .table tr:last-child{
    border-bottom: none;
  }
  .table td{
    width :x 250px;
    font-size: 1.25rem;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
.Tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
  .Tabs button{
    
    background-color: #333;
    color: #e0e0e0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
  }
  
  .Tabs button.active {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .Tabs button:hover {
    background-color: #444;
  }
  
  .Tabs button:not(:last-child) {
    margin-right: 10px;
  }
  
  .TabContent {
    display: none;
    padding: 5px;
    background-color: #121212;
    border-radius: 0 0 5px 5px;
  }
  
  .TabContent.active {
    display: block;
}