body{
    background-color: #000;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #007bff;
}
.form-group{
    margin: 20px;
    justify-content: center;
}

.form-group textarea{
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
}

.form-group button{
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    margin-left: 20px;
}
.form-group button:hover{
    background-color: #fff;
    color: #000;
}

h1{
    background-color: #333;
}
.mod-container{
    width : 50%;
    margin: 10px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #e0e0e0;
    text-align: center;
}

table{
    display: table;
    width: 100%;
    background-color: #333;
    color: #e0e0e0;
    flex-direction: column;
}
tr{
    display: table-row;
    padding: 5px;
    font-size: 1.2rem;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
}
td{
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
}

.Tabs{
    display: flex;
    margin :5px;
}
  .Tabs button{
    background-color: #333;
    color: #e0e0e0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
  }

  .Tabs button.active {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .Tabs button:hover {
    background-color: #444;
  }

.container{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #e0e0e0;
}
.container hr{
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}
.Buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.decline{
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.decline:hover{
    background-color: #ff0000;
}
.accept{
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.accept:hover{
    background-color: #00ff00;
}