<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'banner.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About LXNDRIA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <h1>How to writ</h1>
        <p>
            LXNDRIA is a community-driven platform for problem-solving and  discussions. 
            Whether you love tackling complex challenges or engaging in thoughtful discussions, this space is designed for you.
            <br>
            If you're new here, we encourage you to explore, contribute, and become part of our growing community!
        </p>
        

        <section class="card">
            
        </section>
    </div>
    <div class="footer">
        <hr>

        <p>Connect with us on social media: 
            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a> | 
            <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-x-twitter"></i></a> |
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        </p>
    </div>
</body>
</html>
