<!DOCTYPE html>
<html>
<head>
  <script>
    function openTab(event, tabName){
      document.querySelectorAll('.TabContent').forEach(tab => {
        tab.style.display = 'none';
    });

    // Show the selected tab content
    document.getElementById(tabName).style.display = 'block';
    }
  </script>


  <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
  <title>Account</title>
</head>
{%include 'banner.html'%}

<body>
    <div class="profile-container">
        <!-- Main Profile Section -->
        <div class="profile-main">
          <div class="profile-header">
            <img src="{{url_for('static', filename=user.profile_pic)}}" alt="Profile Picture" class="profile-pic">
            <div class="profile-info">
              <h1>{{user.name}}</h1>
              <p>@{{user.username}}</p>
              <p class="profile-bio">{{user.bio}}</p>
            </div>
          </div>
          <div class="profile-stats">
            <div class="stat-item">
                <div class="stat-number">{{stats.problems_posted}}</div>
                <div class="stat-text">Problems Posted</div>
            </div>
            <div class="stat-item">
                <div class="stat-number">{{stats.solutions}}</div>
                <div class="stat-text">Solutions</div>
              </div>
              <div class="stat-item">
                <div class="stat-number">{{stats.discussions}}</div>
                <div class="stat-text">Discussions</div>
              </div>
              <div class="stat-item">
                <div class="stat-number">{{stats.upvotes}}</div>
                <div class="stat-text">Upvotes</div>
              </div>
              <div class="stat-item">
                <div class="stat-number">{{stats.comments}}</div>
                <div class="stat-text">Comments</div>
              </div>
            </div>
          <div class="profile-content">
          </div>
        </div>
    
        <!-- Right Sidebar -->
        {% if user.username == current_user.username %}
        <div class="profile-sidebar">
          <div class="profile-options">
            <a href="/account/edit"><button>Edit Profile</button></a>
            <a href="/reset-password-2"><button >Change Password</button></a>
            <a href="/logout"><button>Logout</button></a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="Tabs">
        <button class="tab" onclick="openTab(event, 'Problems')">Problems</button>
        <button class="tab" onclick="openTab(event, 'Discussions')">Discussions</button>
        {% if user.username == current_user.username %}
        <button class="tab" onclick="openTab(event, 'Bookmark')">Bookmark</button>
        {% endif %}
      </div>

      <div class="TabContent" display="block" id = "Problems" style="display: block;">
      
      {% for problem in problems %}
      <a href="/problem/{{problem.id}}"> 
        <div class="problem-post">
              <h2>{{problem.title}}</h2>
              <p>{{problem.reducedContent}}</p>
              <div class="date">Posted on {{problem.created_at.strftime('%B %d, %Y')}}</div>
        </div>
      </a>
      {% endfor %}

      </div>
      
      <div class="TabContent" display="none" id = "Discussions">

      {% for discussion in discussions %}
      <a href="/discussion/{{discussion.id}}"> 
        <div class="discussion-post" id="Discussions">
              <h2>{{discussion.title}}</h2>
              <p>{{discussion.reducedContent}}</p>
              <div class="date">Posted on {{discussion.created_at.strftime('%B %d, %Y')}}</div>
        </div>
      </a>
      {% endfor %}
      </div>

      <div class="TabContent" display="block" id = "Bookmark">
        {% for bookmark in bookmarks %}
        {% if bookmark.problem_id %}
          {% set data = bookmark.problem %}
          <a href="/problem/{{data.id}}"> 
        {% else %}
          {% set data = bookmark.discussion %}
          <a href="/discussion/{{data.id}}"> 
        {% endif %}
        <div class="problem-post">
          <h2>{{data.title}}</h2>
          <p>{{data.reducedContent}}</p>
          <div class="date">Posted on {{data.created_at.strftime('%B %d, %Y')}}</div>
    </div>
  </a>
        {% endfor %}
  
        </div>
  {%include 'flash.html'%}
</body>
</html>