<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/banner.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/contribute.css')}}">
    <title>Contribute</title>
</head>
  <header class="banner">
    <div class="logo-container">
      <img src="{{url_for('static', filename='Images/logo.png')}}" alt="Logo" class="logo">
      <span class="site-name"><a href="/">Lxndria</span></div></a>
    </div>
      <div class="menu-container">
        <button class="menu-button" onclick="toggleMenu()">☰</button>
        <ul class="menu-list" id="menuList">
          <a href="/account"><li>Account</li></a>
          <a href="/account/contribute/problem"><li>Post a Problem</li></a>
          <a href="/account/contribute/discussion"><li>Post a Discussion</li></a>
          <a href="/help"><li>Help</li></a>
      </ul>
    </div>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  </header>

<body>
  <div class="problem-container">
    <div class="left">
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- CSRF Token -->
        <div class="problem-title">
            {{ form.title(class="form-control", placeholder="Title") }}
        </div>
        <div class="topic-option">
            {{ form.topic(class="form-control") }}
        </div>
        <div class="problem-content">
            {{ form.content(class="form-control", rows=40, cols=160) }}
        </div>

      </div>
    <div class="right">
      {{ form.answer_type(class="form-control", id="answer_Type", onchange="toggleAnswerType()", ) }}
        

    <div id="mcqOptions">
            <div class="option">

              <div id="optionsContainer">
                {% for option in form.options %}
                <div class="option-item">
                  {{ option.is_correct(class="correct-option", onchange="toggleOptions()", value="correct_option_" ~ loop.index) }} 
                  {{ option.option_text(placeholder="Option " ~ loop.index) }}
                </div>
                {% endfor %}
              </div>
        </div>
        <button type="button" onclick="addOption()">Add Option</button>
        <button type="button" onclick="removeOption()">Remove Option</button>
    </div>

    <div id="inputField" style="display: none;">
      {{form.expected_answer(class="form-control", placeholder="Answer")}}
    </div>

    <button type="submit">Submit</button>
    </div>
    <script src="{{url_for('static', filename='js/problem-post.js')}}"></script>
  </div>
    </form>
  </div>
</body>
</html>