<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    
    <script type="text/javascript" async
      src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    
    {%include 'banner.html'%}
    <script>
        function confirmDeletion(event, DiscussionId, href_start) {
        event.preventDefault(); // Prevent the default navigation
        let confirmation = confirm("Are you sure you want to delete this Discussion?");
        if (confirmation) {
            window.location.href = href_start + DiscussionId + "/delete"; // Redirect if confirmed
        }
    }
        function renderMarkdown() {
            
            let problemContentElement = document.querySelector(".discussion-content");
            if (!problemContentElement) return;
            
            let inputText = problemContentElement.innerHTML.trim();
            let htmlContent = marked.parse(inputText);
            document.getElementById("output").innerHTML = htmlContent;
            
            // Trigger MathJax to render LaTeX
            MathJax.typesetPromise();
            
            // Highlight code blocks
            document.querySelectorAll("pre code").forEach((block) => {
                hljs.highlightElement(block);
            });
        }
        window.onload = renderMarkdown;
    </script>

    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>   
    <link rel="stylesheet" href="{{url_for('static', filename='css/discussion.css')}}">
    <title>
        {{discussion.title}}
    </title> 

</head>
  <body>
    <div class="discussion-container">
        <div class="discussion-header">
            <h1>{{discussion.title}}</h1>
        </div>
        <div class="discussion-content" id="output">
            {{discussion.content}}
        </div>
        {% if current_user and current_user.username == discussion.author %}
        <div class="discussion-footer">
            <a href="/discussion/{{discussion.id}}/edit"><button><i class="far fa-edit"></i></button></a>
            <a onclick="confirmDeletion(event, '{{discussion.id}}', '/discussion/')"><button><i class="fas fa-trash-alt"></i> </button></a>
        </div>
        {% else %}
        <div class="discussion-footer">

            <div class="author">

                <a href="/account/{{discussion.author}}">
                {%if discussion.user%}<h2>By {{discussion.user.name}}</h2>
                {%else%}
                <h2>By {{discussion.author}}</h2>
                {%endif%}
                </a>
            </div>
            {%if bookmarked%}
            <a href="/discussion/{{discussion.id}}/bookmark"><button><i class="fas fa-bookmark"></i></button></a>
            {%else%}
            <a href="/discussion/{{discussion.id}}/bookmark"><button><i class="far fa-bookmark"></i></button></a>
            {%endif%}
            <a href="/report/D{{discussion.id}}"><button><i class="far fa-flag"></i></button></a>
        </div>
        {% endif %}
        <hr>
        <h1>Comments</h1>
        {% with post_id=discussion.id, post_type="D" %}
            {% include 'comments.html' %}
        {% endwith %}

  {%include 'flash.html'%}
    </div>

  </body>
</html>