<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/contribute.css')}}">
    <title>Contribute</title>
</head>
  
{%include 'banner.html'%}

<body>
  <div class="problem-container">
    <div class="left">
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- CSRF Token -->
        <div class="problem-title">
            {{ form.title(class="form-control", placeholder="Title") }}
        </div>
        <div class="topic-option">
            {{ form.topic(class="form-control") }}
        </div>
        <div class="problem-content">
            {{ form.content(class="form-control", rows=40, cols=160) }}
        </div>

      </div>
    <div class="right">

    <div id="inputField" class="inputField">
      {{form.expected_answer(class="form-control")}}
    </div>

    <button type="submit">Submit</button>
    </div>
    </div>
    </form>

  {%include 'flash.html'%}
  </div>
</body>
</html>