<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
  <title>Account</title>
</head>


{%include 'banner.html'%}

<body>
    <div class="profile-container">
        <!-- Main Profile Section -->
        <div class="profile-main">
          <div class="profile-header">
            <img src="{{url_for('static', filename=user.profile_pic)}}" alt="Profile Picture" class="profile-pic">
            <div class="profile-info">
              <h1>{{user.name}}</h1>
              <p>@{{user.username}}</p>
              <p class="profile-bio">{{user.bio}}</p>
            </div>
          </div>
          <div class="profile-stats">
            <div class="stat-item">
                <div class="stat-number">{{user.problems_posted}}</div>
                <div class="stat-text">Problems Posted</div>
            </div>
            <div class="stat-item">
                <div class="stat-number">{{user.solutions}}</div>
                <div class="stat-text">Solutions</div>
              </div>
              <div class="stat-item">
                <div class="stat-number">{{user.discussions}}</div>
                <div class="stat-text">Discussions</div>
              </div>
              <div class="stat-item">
                <div class="stat-number">{{user.upvotes}}</div>
                <div class="stat-text">Upvotes</div>
              </div>
              <div class="stat-item">
                <div class="stat-number">{{user.comments}}</div>
                <div class="stat-text">Comments</div>
              </div>
            </div>
          <div class="profile-content">
          </div>
        </div>
    
        <!-- Right Sidebar -->
        <div class="profile-sidebar">

            <h2>Edit Account</h2>

            <form action="/account/edit" enctype="multipart/form-data" method="POST">
                {{ form.hidden_tag() }}
                <div class="input-group">
                <label for="username">Name</label>
                {{ form.name(class="form-control", placeholder=user.name) }}
                </div>
                <div class="input-group">
                <label for="Email">Bio</label>
                {{ form.bio(class="form-control", placeholder=user.bio) }}
              </div>
              <div class="input-group">
                <label for="Profile Picture">Profile Picture:</label>
                {{ form.profile_pic(class="form-control") }}
                </div>

            <div class="profile-options">  
                <button type="submit">Submit</button>
            </div>
            </form>

  {%include 'flash.html'%}
        </div>
</body>
</html>