<link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-footer">
<hr>
<div class="footer">
    
    <div class="socials">
        <p>
            <a href="/about">About Us</a> |
            <a href="https://www.youtube.com/channel/UCFGAJUVdwdPaOdT4cToDIHw" target="_blank"><i class="fab fa-youtube"></i></a> | 
            <a href="https://x.com/lxndriacom" target="_blank"><i class="fab fa-x-twitter"></i></a> |
            <a href="https://www.instagram.com/lxndriacom/" target="_blank"><i class="fab fa-instagram"></i></a> |
            <a href="mailto: {{email}}">Email Us</a>
        </p>
    </div>
</div>
</div>