<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="LXNDRIA is a community-driven platform for problem-solving and  discussions. 
  Whether you love tackling complex challenges or engaging in thoughtful discussions, this space is designed for you." />
  <meta property="og:title" content="Lxndria – Learn Together, Grow Together" />
  <meta property="og:description" content="LXNDRIA is a community-driven platform for problem-solving and  discussions. 
  Whether you love tackling complex challenges or engaging in thoughtful discussions, this space is designed for you." />
  <meta name="twitter:description" content="LXNDRIA is a community-driven platform for problem-solving and  discussions. 
  Whether you love tackling complex challenges or engaging in thoughtful discussions, this space is designed for you." />

{%include 'banner.html'%}
<script>
    function openTab(event, tabName) {
      // Hide all tables
      document.querySelectorAll('.table').forEach(tab => {
        tab.style.display = 'none';
      });

      // Show the selected tab content
      let activeTab = document.getElementById(tabName);
      if (activeTab) {
        activeTab.style.display = 'block';
        document.body.setAttribute('data-active-tab', tabName);
      }
    }

    

    function search() {
      let input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      if(document.body.getAttribute('data-active-tab') === 'Problems') {
        table = document.getElementById("problems-table");
      } 
      else if(document.body.getAttribute('data-active-tab') === 'Need-Solution') {
        table = document.getElementById("need-solution-table");
      }
      else {
        table = document.getElementById("discussions-table");
      }
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

</script>

  <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
  <title>Home Page</title>
</head>



<body>
  
  <!-- Content 
   <div class="intro">
        <h1>Welcome to Lxndria</h1>
        <p>Here you can post problems and discussions for others to see and help you with. You can also help others by answering their questions and discussing topics with them.</p>
  </div>-->
<div class="content">
  <!---PROBLEMS TABLE---->
  <div class="Table">

    {%include 'main_table_header.html'%}
    {%if table=='problems'%}
    <div class ="table" id="Problems">
    {%else%}
    <div class ="table" id="Problems" style="display: none;">
    {%endif%}
    <table id="problems-table">

      <tr>
        <th>Problem</th>
        <th>Topic</th>
        <th><a href="/?sort=Difficulty&convention={{sort_convention}}&table=problems">Difficulty</a></th>
        <th><a href="/?sort=Popularity&convention={{sort_convention}}&table=problems">Popularity</a></th>
      </tr>
      {% set stop=false %}
      {% for index in range(page*row_per_page, (page+1)*row_per_page) %}
      {% if index >= problems|length %}
        {% set stop=true %}
      {% else %}
        {% set problem = problems[index] %}
      
      <tr>
        <td><a href="/problem/{{problem.id}}">{{problem.title}}</a></td>
        <td>{{problem.topic}}</td>
        <td>{{problem.difficulty}}</td>
        <td>{{problem.popularity}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <div class="pagination">
      {% if page > 0 %}
        <a href="/?page={{page-1}}&table=problems">Previous</a>
      {% endif %}
      {% if (page+1) * row_per_page < problems|length%}
        <a href="/?page={{page+1}}&table=problems">Next</a>
      {% endif %}
  </div>
  </div>


  <!----DISCUSSION TABLE----->
  {%if table=='discussions'%}
  <div class="table" id="Discussions">
  {%else%}
  <div class="table" id="Discussions" style="display: none;">
  {%endif%}
    <table id="discussions-table">

    
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th><a href="/?sort=Popularity&convention={{sort_convention}}&table=discussions">Popularity</a></th>
      </tr>

      {% set stop=false %}
      {% for index in range(page*row_per_page, (page+1)*row_per_page) %}
      {% if index >= discussions|length %}
        {% set stop=true %}
      {% else %}
        {% set discussion = discussions[index] %}
      
      <tr>
        <td><a href="/discussion/{{discussion.id}}">{{discussion.title}}</a></td>
        <td>{{discussion.user.name}}</td>
        <td>{{discussion.popularity}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <div class="pagination">
      {% if page > 0 %}
        <a href="/?page={{page-1}}&table=discussions">Previous</a>
      {% endif %}
      {% if (page+1) * row_per_page < discussions|length%}
        <a href="/?page={{page+1}}&table=discussions">Next</a>
      {% endif %}
  </div>
  </div>

  {%if table=='need-solution'%}
  <div class="table" id="Need-Solution">
  {%else%}
  <div class="table" id="Need-Solution" style="display: none;">
  {%endif%}
    <table id="need-solution-table">
      <tr>
        <th>Title</th>
        <th>Topic</th>
        <th><a href="/?sort=Difficulty&convention={{sort_convention}}&table=need-solution">Difficulty</th>
      </tr>
      {% set stop=false %}
      {% for index in range(page*row_per_page, (page+1)*row_per_page) %}
      {% if index >= need_solution|length %}
        {% set stop=true %}
      {% else %}
        {% set problem = need_solution[index] %}
      
      <tr>
        <td><a href="/problem/{{problem.id}}">{{problem.title}}</a></td>
        <td>{{problem.topic}}</td>
        <td>{{problem.difficulty}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <div class="pagination">
      {% if page > 0 %}
        <a href="/?page={{page-1}}&table=need-solution">Previous</a>
      {% endif %}
      {% if (page+1)*row_per_page < need_solution|length%}
        <a href="/?page={{page+1}}&table=need-solution">Next</a>
      {% endif %}
    </div>
  </div>
  {%include 'flash.html'%}
</div>
</div>
<div style="position: fixed; bottom: 0; width: 100%;">
{%include 'footer.html'%}
</div>
</body>
</html>