<!DOCTYPE html>
<html>
<head>
  <script>
    function openTab(event, tabName){
      document.querySelectorAll('.table').forEach(tab => {
        tab.style.display = 'none';
    });

    // Show the selected tab content
    document.getElementById(tabName).style.display = 'block';
    }
    window.onload = function(){
      openTab(event, 'Problems');
    }
  </script>

  <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
  <title>Home Page</title>
</head>


{%include 'banner.html'%}

<body>
  
  <!-- Content -->
   <div class="intro">
        <h1>Welcome to Lxndria</h1>
        <p>Here you can post problems and discussions for others to see and help you with. You can also help others by answering their questions and discussing topics with them.</p>
  </div>

  <div class="Tabs">
    <button class="tab" onclick="openTab(event, 'Problems')">Problems</button>
    <button class="tab" onclick="openTab(event, 'Discussions')">Discussions</button>
  </div>
  
  <!---PROBLEMS TABLE---->
  <div class="table" id="Problems">
    
    <table>
      <tr>
        <th>Problem</th>
        <th>Topic</th>
        <th>Posted On</th>
      </tr>
      {% for index in range(page*row_per_page, (page+1)*row_per_page) %}
      {% if index >= problems|length %}
        {% set stop=true %}
      {% else %}
        {% set problem = problems[index] %}
      
      <tr>
        <td><a href="/problem/{{problem.id}}">{{problem.title}}</a></td>
        <td>{{problem.topic}}</td>
        <td>{{problem.created_at.strftime('%B %d, %Y')}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <div class="pagination">
      {% if page > 0 %}
        <a href="/?page={{page-1}}">Previous</a>
      {% endif %}
      {% if not stop %}
        <a href="/?page={{page+1}}">Next</a>
      {% endif %}
  </div>
  </div>


  <!----DISCUSSION TABLE----->

  <div class="table" id="Discussions" style="display: none;">
    
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Posted On</th>
      </tr>
      {% for index in range(page*row_per_page, (page+1)*row_per_page) %}
      {% if index >= discussions|length %}
        {% set stop=true %}
      {% else %}
        {% set discussion = discussions[index] %}
      
      <tr>
        <td><a href="/discussion/{{discussion.id}}">{{discussion.title}}</a></td>
        <td>{{discussion.user.name}}</td>
        <td>{{discussion.created_at.strftime('%B %d, %Y')}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <div class="pagination">
      {% if page > 0 %}
        <a href="/?page={{page-1}}">Previous</a>
      {% endif %}
      {% if not stop %}
        <a href="/?page={{page+1}}">Next</a>
      {% endif %}
  </div>
  </div>
</body>
</html>