<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/banner.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
  <title>Home Page</title>
</head>

<header class="banner">
  <div class="logo-container">
    <img src="{{url_for('static', filename='Images/logo.png')}}" alt="Logo" class="logo">
    <span class="site-name"><a href="/">Lxndria</span></div></a>
  </div>
    <div class="menu-container">
      <button class="menu-button" onclick="toggleMenu()">☰</button>
      <ul class="menu-list" id="menuList">
        <a href="/account"><li>Account</li></a>
        <a href="/account/contribute/problem"><li>Post a Problem</li></a>
        <a href="/account/contribute/discussion"><li>Post a Discussion</li></a>
        <a href="/help"><li>Help</li></a>
    </ul>
  </div>
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
  
</header>

<body>
  
  <!-- Content -->
   <div class="intro">
        <h1>Welcome to Lxndria</h1>
        <p>Here you can post problems and discussions for others to see and help you with. You can also help others by answering their questions and discussing topics with them.</p>
  </div>
  <div class="table">
    
    <table>
      <tr>
        <th>Problem</th>
        <th>Topic</th>
        <th>Posted On</th>
      </tr>
      {% for problem in problems %}
      <tr>
        <td><a href="/problem/{{problem.id}}">{{problem.title}}</a></td>
        <td>{{problem.topic}}</td>
        <td>{{problem.created_at.strftime('%B %d, %Y')}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>