<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/moderation.css')}}">
        <title>Moderation</title>
    </head>
<body>
        
            <div class="mod-container">
            <h1>Moderation Interface</h1>
            <hr>
            <div class="table" id="Reports">
            <table>
            {%for report in reports%}
                <tr>
                    <td>
                        <a href={{report.url}}>
                        {{report.reason}}
                        </a>
                    </td>
                    <td>{{report.created_at|time_ago}}</td>
                    
                </tr>
            {%endfor%}
            </table>
            </div>
        </div>
        
</body>
</html>