<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/discussion.css')}}">
        <title>Write a Discussion Post</title>
    </head>
    
{%include 'banner.html'%}
    
    <body>
  <div class="discussion-container">
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- CSRF Token -->
        <div class="discussion-title">
            {{ form.title(class="form-control", placeholder="Title") }}
        </div>
        <div class="dicussion">
            {{ form.content(class="form-control", rows=40, cols=160) }}
        </div>

    <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>