<!DOCTYPE html>
<html>
<head>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>   
    <link rel="stylesheet" href="{{url_for('static', filename='css/banner.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/problem.css')}}">
    <title>
        {{problem.title}}
    </title> 
</head>
<header class="banner">
    <div class="logo-container">
      <img src="{{url_for('static', filename='Images/logo.png')}}" alt="Logo" class="logo">
      <span class="site-name"><a href="/">Lxndria</span></div></a>
    </div>
      <div class="menu-container">
        <button class="menu-button" onclick="toggleMenu()">☰</button>
        <ul class="menu-list" id="menuList">
            <a href="/account"><li>Account</li></a>
            <a href="/account/contribute/problem"><li>Post a Problem</li></a>
            <a href="/account/contribute/discussion"><li>Post a Discussion</li></a>
            <a href="/help"><li>Help</li></a>
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    
  </header>

<body>
<div class="problem-container">
    <div class="problem">
        <h1>
            {{problem.title}}
        </h1>
        <div class="problem-content">
            {{problem.content}}
        </div>
    </div>
    <div class="answer">
        <input type="text" id="answer" placeholder="Answer">
        <button id="submit">Submit</button>
    </div>
</div>

</body>