<!DOCTYPE html>
<html>
<head>
    {% include 'banner.html' %}
    <title>Announcements</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
</head>
<script>
    function confirmDeletion(event, id, url) {
        if (confirm("Are you sure you want to delete this announcement?")) {
            window.location.href = url + "?id=" + id;
        }
    }
</script>
<body>
    <div class="container">

        <h1>Announcements</h1>
        {% for announcement in announcements %}
            <section class="card">
                <h2>{{ announcement.title }}</h2>
                <p>{{ announcement.content|safe}}</p>
                <p class="date">{{ announcement.created_at|time_ago }}</p>
            {% if current_user.username == 'admin' %}
                <a href="/edit-announce?id={{announcement.id}}">Edit</a>
                <a onclick="confirmDeletion(event, '{{id}}', '/delete-announce')">Delete</a>
            {% endif %}
            </section>
        {% endfor %}
    </div>
</body>
</html>